{% extends "helpdesk/base.html" %}{% load i18n bootstrap %}

{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>{% trans "Submit a Ticket" %}</h3>
                </div>
                <div class="x_content">
                    {% include 'helpdesk/include/ticket_form.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    {{ form.media.js }}
    <script>
        // this function listens for changes on any file input, and
        // emits the appropriate event to update the input's text.
        // Needed to have properly styled file input buttons! (this really shouldn't be this hard...)
        $(document).on('change', ':file', function () {
            let input = $(this),
                inputWidgetNum = $(this).attr('id').split("file")[1],
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label, inputWidgetNum]);
        });
    </script>
{% endblock %}
