{% extends "helpdesk/base.html" %}

{% load i18n bootstrap %}

{% block helpdesk_title %}{% trans "Edit followup" %}{% endblock %}

{% block helpdesk_body %}
    <div class="row" id="followUpForm">
        <div class="col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans "Edit FollowUp" %}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form method="POST" name="edit_followup_form">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form|bootstrap }}
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="{% trans "Save" %}">
                            <a href="{{ ticket.get_absolute_url }}" class="btn btn-warning">
                                {% trans "Cancel" %}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock helpdesk_body %}