{% extends "helpdesk/public_base.html" %}

{% load i18n bootstrap %}

{% block helpdesk_body %}
    {% if kb_categories %}
        <h2>{% trans "Knowledgebase Articles" %}</h2>

        <table class="table table-hover table-bordered table-striped">
            <caption>{% trans "Knowledgebase Categories" %}</caption>
            <thead>
            <tr>
                <th>{% trans "Category" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in kb_categories %}
                <tr>
                    <th><a href='{{ category.get_absolute_url }}'>{{ category.title }}</a></th>
                </tr>
                <tr>
                    <td>{{ category.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
        <div class="col-sm-6 {% if not helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}col-sm-offset-3 {% endif %}col-xs-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <h2>{% trans "Submit a Ticket" %}</h2>
                    <p>
                        {% trans "All fields are required." %}
                        {% trans "Please provide as descriptive a title and description as possible." %}
                    </p>

                    <form role="form" method='post' action='./#submit' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <fieldset>
                            {{ form|bootstrap }}

                            <div class='buttons form-group'>
                                <input type='submit' class="btn btn-primary" value='{% trans "Submit Ticket" %}'/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC and not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
        <h2>{% trans "Please use button at upper right to login first." %}</h2>
    {% endif %}

    {% if helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}
        <div class="col-sm-6 {% if not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}col-sm-offset-3 {% endif %}col-xs-12">
            {% include 'helpdesk/include/public_view_ticket_form.html' %}

            {% if not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'helpdesk:submit' %}">
                                Ouvrir un ticket
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                Connectez-vous pour ouvrir un ticket
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
