{% extends "helpdesk/base.html" %}

{% load i18n base_tags %}

{% block helpdesk_title %}{% trans "Add Ticket CC" %}{% endblock %}

{% block stylesheets %}
    {{ form_user.media.css }}
{% endblock %}

{% block helpdesk_body %}
    <h2>{% trans 'Add Ticket CC' %}</h2>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    {% trans 'To automatically send an email to a user or e-mail address when this ticket is updated, select the user or enter an e-mail address below.' %}
                </div>
                <div class="x_content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li{% if not form.errors.user %} class="active"{% endif %}>
                            <a href="#EmailCC" data-toggle="tab">{% trans 'Email' %}</a>
                        </li>
                        <li{% if form.errors.user %} class="active"{% endif %}>
                            <a href="#UserCC" data-toggle="tab">{% trans 'User' %}</a>
                        </li>
                    </ul>

                    {% if form.errors %}
                        {% include 'base/components/alert_error.html' %}
                        <ul>{{ form.non_field_errors }}</ul>
                    {% endif %}

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade{% if not form.errors.user %} in active{% endif %}" id="EmailCC">
                            <h4>{% trans 'Add Email' %}</h4>
                            <form method='post'>
                                {% csrf_token %}
                                <fieldset>
                                    <dl>
                                        {% for field in form_email %}
                                            <dt>{{ field.label_tag }}</dt>
                                            <dd>{{ field }}</dd>
                                            {% if field.name in form.errors %}
                                                <dd class='error'>{{ form.errors|get:field.name }}</dd>
                                            {% endif %}
                                            {% if field.help_text %}
                                                <dd class='form_help_text'>{{ field.help_text }}</dd>
                                            {% endif %}
                                        {% endfor %}
                                    </dl>
                                </fieldset>
                                <button class="btn btn-primary" type='submit'>{% trans "Save Ticket CC" %}</button>
                                <a href="{% url 'helpdesk:ticket_cc' ticket.id %}" class="btn btn-default">
                                    {% trans "Cancel" %}
                                </a>
                            </form>
                        </div>
                        <div class="tab-pane fade{% if form.errors.user %} in active{% endif %}" id="UserCC">
                            <h4>{% trans 'Add User' %}</h4>
                            <form method='post'>
                                {% csrf_token %}
                                <fieldset>
                                    <dl>
                                        {% for field in form_user %}
                                            <dt>{{ field.label_tag }}</dt>
                                            <dd>{{ field }}</dd>
                                            {% if field.name in form.errors %}
                                                <dd class='error'>{{ form.errors|get:field.name }}</dd>
                                            {% endif %}
                                            {% if field.help_text %}
                                                <dd class='form_help_text'>{{ field.help_text }}</dd>{% endif %}
                                        {% endfor %}
                                    </dl>
                                </fieldset>
                                <button class="btn btn-primary" type='submit'>{% trans "Save Ticket CC" %}</button>
                                <a href="{% url 'helpdesk:ticket_cc' ticket.id %}" class="btn btn-default">
                                    {% trans "Cancel" %}
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    {{ form_user.media.js }}
{% endblock %}